<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
    <title>Miha Filej</title>
  </head>
  <body>
  <ol>
    {{ for post of search.pages("category=article") }}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {{ /for }}
  </ol>
  <ol>
    {{ for post of search.pages("category=twil") }}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {{ /for }}
  </ol>
    {{ content }}
  </body>
</html>
