<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body class="m-auto pb-32 text-lg prose prose-stone prose-pre:bg-[#E6E6E6] prose-code:before:content-none prose-code:after:content-none prose-code:text-stone-700">
    <style type="text/css">
      {{ css }}
    </style>
    <div class="not-prose py-3 flex justify-between text-sm text-stone-500">
      <a href="/" class="text-sm font-medium">miha.filej.net</a>
      <time class="text-xs">{{ date |> date("DATE") }}</time>
    </div>
    <article class="py-[10vh] ">
      <h1>
        {{ title }}
      </h1>

      {{ content }}
    </article>
  </body>
</html>
