<ul class="ruby-numeric-class-hierarchy">
  <li>
    <code>BasicObject</code>
    <ul>
      <li>
        <code>Object</code>
        <ul>
          <li>
            <code>Numeric</code>
            <ul>
              <li>
                <code>Float</code>
              </li>
              <li>
                <code>Rational</code>
              </li>
              <li>
                <code>Complex</code>
              </li>
              <li>
                <code>BigDecimal</code>
              </li>
              <li>
                <code>Integer</code>
                <ul>
                  <li>
                    <code>Fixnum</code>
                  </li>
                  <li>
                    <code>Bignum</code>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
