<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css">
    <title>Miha Filej</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
